@include media-breakpoint-up(xs) {
    ...
}

@include media-breakpoint-up(sm) {
    ...
}

@include media-breakpoint-up(md) {
    ...
}

@include media-breakpoint-up(lg) {
    ...
}

@include media-breakpoint-up(xl) {
    ...
}

.eventImage {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.eventImage img {
    margin-top: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 850px) {
    .eventCard {
        width: 90vw !important;
    }
}

.eventCard {
    margin: 8px !important;
    width: 19rem;
}

.organizationCard {
    margin: 8px !important;
    width: 90vw;
}

.organization-desc {
    font-size: 14px;
    line-height: 1.5;
}

.organizationImage img {
    margin-left: -12px;
    max-width: 14rem;
    height: 100%;
    object-fit: cover;
}

.spacer {
    margin-top: 10px;
}

.dropdown-item {
    padding: .25rem 1rem !important;
}

.btn-primary,
.btn-warning,
.btn-outline-primary {
    padding: 0.5rem 4rem;
    margin-bottom: 0.5rem;
}

th,
td {
    text-align: center;
    vertical-align: middle;
}
